.menu-container {
    margin: 50px auto;
}

.menu-scroll {
    font-family: 'Raleway', sans-serif;
    overflow: scroll;
    vertical-align:top;
}

.menu-container-x-scroll {
    width: 2200px;
    overflow-x: scroll;
}

.menu-img-container {
    padding: 90px 0;
    text-align: center;
}

.menu-img {
    width: 550px;
    max-width: 90%;
}

.menu-category-title {
    text-transform: capitalize;
    text-align: center;
    background: #fff3f3;
    color: #f7746e;
    margin-top: 0;
    padding: 25px;    
}

.menu-category:hover {
    -webkit-box-shadow: -4px 3px 44px -14px rgba(120, 120, 120, 1);
    -moz-box-shadow: -4px 3px 44px -14px rgba(120, 120, 120, 1);
    box-shadow: -4px 3px 44px -14px rgba(120, 120, 120, 1);
}

.menu-category:hover .menu-category-title {
    background: #f7746e;
    color: white;
}

.menu-category-y-scroll {
    height: 350px;
    max-height: 90vh;
    overflow-y: scroll;
    padding: 20px;
    padding-top: 5px;
}

.menu-plate{
    padding-left: 10px;
}

.menu-plate-description, .menu-plate-price {
    font-weight: 300;
    color: #6a6a6a;
    padding-left: 15px;     
}

.menu-plate-name {
    color: #f7746e;
}

.menu-plate-price {
    font-weight: bold;
}

.menu-category {
    width: 350px;
    max-width: 90vw;
    margin: 30px;
    display: inline-block;
    border-top-left-radius: 15px;
    border-radius: 15px;
    overflow: hidden;
    padding: 0;
    background: #fff;
    -webkit-box-shadow: -4px 3px 44px -14px rgba(204, 204, 204, 0.75);
    -moz-box-shadow: -4px 3px 44px -14px rgba(204, 204, 204, 0.75);
    box-shadow: -4px 3px 44px -14px rgba(204, 204, 204, 0.75);
}

.menu-order-online {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 1em;
    cursor: pointer;
    text-transform: uppercase;
    width: 250px;
    border-radius: 10px;
    padding: 15px;
    max-width: 90%;
    margin: 0 auto;
    /* border: 1px solid #2ab4ff; */
    background: #f7746e;
    color: white;
    margin-top: 40px;
    box-sizing: border-box;
    -webkit-box-shadow: -4px 3px 44px -14px rgba(204, 204, 204, 0.75);
    -moz-box-shadow: -4px 3px 44px -14px rgba(204, 204, 204, 0.75);
    box-shadow: -4px 3px 44px -14px rgba(204, 204, 204, 0.75);
}

.menu-order-online:hover {
    background: white;
    -webkit-box-shadow: -4px 3px 44px -14px rgba(120, 120, 120, 1);
    -moz-box-shadow: -4px 3px 44px -14px rgba(120, 120, 120, 1);
    box-shadow: -4px 3px 44px -14px rgba(120, 120, 120, 1);
}

.menu-order-online a {
    text-decoration: none;
    color: white;
}

.menu-order-online:hover a {
    text-decoration: none;
    color: #f7746e;
}

@media only screen and (max-width: 1024px) {
    
    .menu-category-title {
        background: #f7746e;
        color: white;
    }
    

}