.location-container {
    width: 1200px;
    max-width: 90%;
    margin: 50px auto;
    
}

.location-img-container {
    padding: 90px 0;
    text-align: center;
}

.location-img {
    width: 550px;    
    max-width: 90%;
}

.location-map-details-container {
    display: flex;    
    background: #fff;
    margin: 30px auto;
    -webkit-box-shadow: -4px 3px 44px -14px rgba(120, 120, 120, 1);
    -moz-box-shadow: -4px 3px 44px -14px rgba(120, 120, 120, 1);
    box-shadow: -4px 3px 44px -14px rgba(120, 120, 120, 1);
}


.location-map-container {
    flex-grow: 2;        
    min-height: 600px;
    display: inline-block;
}


.location-map {
    width: 90%;
    min-height: 600px;
    height: 100%;
}

.location-details-container {
    padding: 40px;
    font-family: 'Raleway', sans-serif;
    color: #323232;
    text-transform: capitalize;
    flex-grow: 1;    
    display: inline-block;
    text-align: center;
}

.location-details {
    width: 95%;
    height: 95%;
    padding: 40px;
    box-sizing: border-box;
    border: 2px solid #f1f1f1;
    margin: 0 auto;    
}

.location-title {
    font-weight: bold;
    font-size: 1.8em;
    letter-spacing: 3px;
}

.location-details-address {
    font-weight: normal;
    font-size: 1.5em;
    text-align: center;

}

@media only screen and (max-width: 1024px) {
    
    .location-map-details-container {
        display: block;
    }
    
    .location-map-container {
        width: 100%;
        text-align: center;
    }

    .location-map {
        width: 100%;
    }

    .location-details-container {
        padding: 50px 0;
        width: 100%;
        box-sizing: border-box;
    }

}