.home-container {
    width: 100%;
    height: 100vh;
    background: url(../../images/restaurant-2.jpg);
    background-size: cover;
    background-position: fixed;
    position: absolute;
    top: 0;
    z-index: -1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.restaurant-name {
    text-align: center;
    font-family: 'Playfair Display', serif;
    color: white;    
    font-weight: 700;
    font-size: 5em;
}

.arrow-down-icon {
    color: white;
    position: absolute;
    bottom: 1em;
    font-size: 3em;
    right: 50%;
}


